@import "mixins";
$primary: red;
$secondary: blue;
$tertiary: green;






html {
    @include flex
}

html {
    body {
        @include flex
    }
}

html {
    body {
        div {
            @include flex;
            flex-direction: column;
        }
    }
}

html {
    body {
        div {
            section {
                @include flex
            }
        }
    }
}

html {
    body {
        div {
            section {
                article {
                    @include box($color: $tertiary)
                }
            }
        }
    }
}

html {
    body {
        div {
            section {
                article {
                    @include flex
                }
            }
        }
    }
}

html {
    body {
        div {
            section {
                article {
                    p {
                        @include flex
                    }

                }
            }
        }
    }
}



article:nth-child(n+1):nth-child(-n+5) {
    color: $secondary;
}

article:nth-child(n+2):nth-child(-n+5) {
    color: $primary;
}

article:nth-child(n+3):nth-child(-n+5) {
    color: $secondary;
}

article:nth-child(n+4):nth-child(-n+5) {
    color: $primary;
}

body {
    border: 1px solid red;
    padding-bottom: 50px;
}

section {
    padding: 0px 10px;
}



#last-section {
    padding-top: 20px;
    width: 100%;




}

#last-article {
    border-color: blue;
    width: 98%;





}